{
    "app": {
        "slack": {
            "enable": false,
            "oAuth-token": "",
            "signing-secret": "",
            "mode": "single",
            "port": "2099",
            "channels": {
                "validator": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "ibc": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "gov": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "faucet": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "peggo": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "wallet": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                },
                "consensus": {
                    "id": "C087MDDL6BW",
                    "name": "test",
                    "webhook_url": "https://hooks.slack.com/services/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"
                }
            },
            "subscriptions": []
        },
        "discord": {
            "enable": true,
            "bot-token": "",
            "mode": "chain",
            "channels": {
                "validators": {
                    "id": 1234567,
                    "name": "validators"
                },
                "ibc": {
                    "id": 7654321,
                    "name": "ibc"
                },
                "gov": {
                    "id": 7654321,
                    "name": "gov"
                },
                "faucet": {
                    "id": 1234567,
                    "name": "faucet"
                },
                "peggo": {
                    "id": 1234567,
                    "name": "peggo"
                },
                "wallet": {
                    "id": 1234567,
                    "name": "wallet"
                },
                "consensus": {
                    "id": 1234567,
                    "name": "consensus"
                }
            },
            "subscriptions": [
                {
                    "user": 123456789,
                    "validator": "injvaloper15vlkdnu2c0k0gaclgycnyjm7c5f3hsde034f5p"
                }
            ]
        },
        "telegram": {
            "enable": false,
            "token": "",
            "mode": "single",
            "subscriptions": [
                {
                    "user": 123456789,
                    "validator": "injvaloper15vlkdnu2c0k0gaclgycnyjm7c5f3hsde034f5p"
                }
            ],
            "channels": []
        }
    },
    "chain": "Injective",
    "rpcs": [],
    "apis": [],
    "jsonrpcs": [],
    "features": {
        "faucet": {
            "enable": false
        },
        "gov": {
            "enable": true,
            "params": {
                "voting_period": "172800s",
                "min_deposit": 10,
                "threshold": "0.500000000000000000",
                "veto": "0.334000000000000000"
            }
        },
        "validators": {
            "enable": true,
            "params": {
                "interval": 20,
                "threshold": [
                    {
                        "label": "ACTIVE",
                        "value": 0.02
                    },
                    {
                        "label": "ATTENTION",
                        "value": 0.1
                    },
                    {
                        "label": "WARNING",
                        "value": 0.3
                    },
                    {
                        "label": "CRITICAL",
                        "value": 0.7
                    }
                ],
                "prefix": "inj"
            }
        },
        "peggo": {
            "enable": true,
            "params": {
                "threshold": 10,
                "interval": 1200
            }
        },
        "ibc": {
            "enable": true,
            "params": {
                "interval": 7200,
                "stuck_packets_threshold": 100,
                "client_update_threshold": 14400,
                "registry_api": [
                    "https://raw.githubusercontent.com/cosmos/chain-registry/master"
                ],
                "notion_api_key": "",
                "notion_api": []
            }
        },
        "consensus": {
            "enable": true
        },
        "wallet": {
            "enable": true,
            "params": {
                "threshold": {
                    "eth": 0.005,
                    "inj": 0.1
                },
                "interval": 1200
            }
        }
    }
}